* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #EECC8C;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 100%;
  height: 300%;
}


header {
  background-color: #8D6E5C;
  border: 3px solid #4B0607;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100vw-30px);
  height: 100px;
  margin: 15px;
  border-radius: 15px;
}

.LOGO {
  margin-left: 20px;
  margin-right: 20px;
}

.LOGO img {
  max-width: 130px;
  max-height: 130px;
  border-radius: 15px;
  margin-top: 5px;
  border-radius: 15px;
  border: 3px solid #4B0607;
}

.nombrePágina {
  color: #4B0607;
}


main {
  display: flex;
  background-image: url(./imagenes/mapa.jpeg);
  width: 100%;
  height: 300%;
}

.menu {
  background-color: #8D6E5C;
  border: 2px solid #4B0607;
  color: #4B0607;
  margin: 15px;
  border-radius: 15px;
  width: 15%;
  max-height: 400px;
  margin-top: 70px;
}

.menu>button{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #EECC8C;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #4B0607;
  color: #4B0607;
}

.casa, .nombre {
  /*display: none;*/
  display: flex;
  justify-content: center;
}

.opcionCasa, .opcionNombre{
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  color: #4B0607
}

select{
  background-color: #EECC8C;
  border: 2px solid #4B0607;
  width: 150px;
  height: 50px;
  margin-top: 5px;
  border-radius: 15px;
  margin-bottom: 30px;
}

#regresar {
  background-color: #D78A76
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  color: #621708;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 90px;
  background-color: #F08A4B;
  border: 3px solid #4B0607;
  border-radius: 15px;
  margin: 10px;
}
  
.personajeConEstilo{
  display: flex;
  border-radius: 15px;
}

.contenedor :hover {
  border: 3px solid #8D6E5C;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw-30px);
  height: 50px;
  margin: 15px;
  background-color: #8D6E5C;
  border: 2px solid #4B0607;
  border-radius: 15px;
  color: #4B0607;
}